In [1]:
import pandas as pd
fp = 'https://bit.ly/felonies-dataset'

In [2]:
fp

'https://bit.ly/felonies-dataset'

In [3]:
df=pd.read_csv('https://bit.ly/felonies-dataset')
df

          Date of Arrest  Age Convicted
0    2014-07-16 14:59:18   77       Yes
1    2002-12-19 22:17:59   28       Yes
2    1994-06-28 09:31:40   21        No
3    1985-05-14 09:52:17   45       Yes
4    1985-05-25 14:06:28   39       Yes
..                   ...  ...       ...
995  1992-02-04 14:24:25   72       Yes
996  1996-04-29 18:03:23   68       Yes
997  1980-07-15 21:59:27   87       Yes
998  1999-07-05 17:16:12   27        No
999  1996-03-17 18:29:25   57       Yes

[1000 rows x 3 columns]

In [4]:
df.head()

        Date of Arrest  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

In [6]:
df.tail()

          Date of Arrest  Age Convicted
995  1992-02-04 14:24:25   72       Yes
996  1996-04-29 18:03:23   68       Yes
997  1980-07-15 21:59:27   87       Yes
998  1999-07-05 17:16:12   27        No
999  1996-03-17 18:29:25   57       Yes

count    1000.000000
mean       54.605000
std        25.225172
min        10.000000
25%        33.000000
50%        53.000000
75%        76.000000
max        99.000000
Name: Age, dtype: float64

### Comment transoformer une valeur numérique en catégorie.

In [10]:
df['Age'].describe()

count    1000.000000
mean       54.605000
std        25.225172
min        10.000000
25%        33.000000
50%        53.000000
75%        76.000000
max        99.000000
Name: Age, dtype: float64

In [18]:
o=pd.cut(df['Age'],Bins=[10,14,20,65,100],labels=["Child","Ado","Adulte","Senior"])

TypeError: cut() got an unexpected keyword argument 'Bins'

In [12]:
exo1 = pd.Series(data=[0,1,2,3])

In [15]:
pd.cut(exo1,bins=[-1,0,3],labels=["A","B"])

0    A
1    B
2    B
3    B
dtype: category
Categories (2, object): ['A' < 'B']

In [21]:
FROM_ZERO = -0.001
pd.cut(exo1,bins=[FROM_ZERO,2,3],labels=["A","B"])

0    A
1    A
2    A
3    B
dtype: category
Categories (2, object): ['A' < 'B']

In [32]:
prefix =["ten","twen","thir","four","fif","six","seven","eigh","nine"]
labels = [p+'ties' for p in prefix]
labels

['tenties',
 'twenties',
 'thirties',
 'fourties',
 'fifties',
 'sixties',
 'seventies',
 'eighties',
 'nineties']


def add9(s:list,x:float):
    for i in range(0,9):
        s[i]+=x
        x+=1
    return s

tab=[0]
tab=add9(tab,10)

In [33]:
bins = list(range(9,99+1,10))
bins

[9, 19, 29, 39, 49, 59, 69, 79, 89, 99]

In [41]:
df['Decade']=pd.cut(df['Age'],bins,labels)
df

          Date of Arrest  Age Convicted    Decade
0    2014-07-16 14:59:18   77       Yes  (69, 79]
1    2002-12-19 22:17:59   28       Yes  (19, 29]
2    1994-06-28 09:31:40   21        No  (19, 29]
3    1985-05-14 09:52:17   45       Yes  (39, 49]
4    1985-05-25 14:06:28   39       Yes  (29, 39]
..                   ...  ...       ...       ...
995  1992-02-04 14:24:25   72       Yes  (69, 79]
996  1996-04-29 18:03:23   68       Yes  (59, 69]
997  1980-07-15 21:59:27   87       Yes  (79, 89]
998  1999-07-05 17:16:12   27        No  (19, 29]
999  1996-03-17 18:29:25   57       Yes  (49, 59]

[1000 rows x 4 columns]

In [42]:
df.head(20)

         Date of Arrest  Age Convicted    Decade
0   2014-07-16 14:59:18   77       Yes  (69, 79]
1   2002-12-19 22:17:59   28       Yes  (19, 29]
2   1994-06-28 09:31:40   21        No  (19, 29]
3   1985-05-14 09:52:17   45       Yes  (39, 49]
4   1985-05-25 14:06:28   39       Yes  (29, 39]
5   1987-10-04 08:55:26   59       Yes  (49, 59]
6   1989-11-28 02:26:59   47       Yes  (39, 49]
7   2004-03-22 12:31:09   51       Yes  (49, 59]
8   1995-11-01 04:31:18   94       Yes  (89, 99]
9   2012-02-01 02:48:36   74       Yes  (69, 79]
10  1976-09-28 08:07:52   79        No  (69, 79]
11  1970-07-19 07:01:11   44        No  (39, 49]
12  2001-11-11 02:17:13   51       Yes  (49, 59]
13  1997-12-04 19:35:53   23        No  (19, 29]
14  1981-07-26 03:27:09   54       Yes  (49, 59]
15  2004-10-28 05:22:55   95        No  (89, 99]
16  2012-10-19 22:51:24   69       Yes  (59, 69]
17  1997-04-26 00:49:21   13        No   (9, 19]
18  1978-08-08 07:38:31   86       Yes  (79, 89]
19  1988-06-04 15:20:27   46       Yes  (39, 49]

In [43]:
df.isna().sum()

Date of Arrest    0
Age               0
Convicted         0
Decade            0
dtype: int64

In [48]:
df['Decade'].cat.codes
dir(df['Decade'].cat)

AttributeError: Can only use .cat accessor with a 'category' dtype

In [49]:
df.dtypes

Date of Arrest    object
Age                int64
Convicted         object
Decade              int8
dtype: object

In [50]:
df['Decade']=df['Decade'].cat.codes
df

AttributeError: Can only use .cat accessor with a 'category' dtype

In [51]:
df.dtypes

Date of Arrest    object
Age                int64
Convicted         object
Decade              int8
dtype: object