In [62]:
import pandas as pd
url='https://bit.ly/missing-values'
df=pd.read_csv(url)
df

      color  rating
0       NaN    1.16
1       Red     NaN
2      Blue    2.54
3       Red    1.51
4       Red     NaN
..      ...     ...
912    Blue    3.40
913     Red     NaN
914     NaN    1.24
915  Yellow    2.64
916    Blue     NaN

[917 rows x 2 columns]

In [63]:
for nom_col in ['rating']:
    idx=df.columns.get_loc(nom_col)
    df.insert(idx+1,nom_col+'_nan',df[nom_col].isna().astype('int'))

In [64]:
df.head()

  color  rating  rating_nan
0   NaN    1.16           0
1   Red     NaN           1
2  Blue    2.54           0
3   Red    1.51           0
4   Red     NaN           1

In [65]:
df['rating'].fillna(df['rating'].mean(),inplace=True)

In [66]:
df.dtypes

color          object
rating        float64
rating_nan      int32
dtype: object

In [67]:
df['color']=df['color'].astype('category')

In [68]:
df.dtypes

color         category
rating         float64
rating_nan       int32
dtype: object

Dirty

Propice à l'analyse(manuelle) [Humains]
float/int/category/datetime

Propice à l'analyse(automatique[machine]
foat/int

In [69]:
df.dtypes

color         category
rating         float64
rating_nan       int32
dtype: object

In [70]:
pd.get_dummies(df,dummy_na=True,columns=['color']).head()

# 'color' = liste des colonnes categoriques ( pas ordinal ou numérique)
# why called dummy? 
# with color_orange = dummy_variable
# a function of dummies , called drop first where for exemple bleu color for a product
# is equal to '1' and ofc the rest are with value '0'

,rating,rating_nan,color_Blue,color_Orange,color_Red,color_Yellow,color_nan
0,1.160000,0,0,0,0,0,1
1,3.066672,1,0,0,1,0,0
2,2.540000,0,1,0,0,0,0
3,1.510000,0,0,0,1,0,0
4,3.066672,1,0,0,1,0,0

df.drop('NOM_COLONNE'),axis='columns',inplace=True) # suppression colonne inutile
df.tp_csv('_NOMDATASET_clean_viz.csv',index=None)

df.to_csv('nom_fichier.csv',index=None) -> important to eneregistre la fichier after work done

In [74]:
df.to_csv('nom_ficier.csv',index=None) # trés important d'avoir index=None pour
# pour n'avoir des colmuns en plus
df.head()

  color    rating  rating_nan
0   NaN  1.160000           0
1   Red  3.066672           1
2  Blue  2.540000           0
3   Red  1.510000           0
4   Red  3.066672           1