In [ ]:
import pandas as pd

In [3]:
fp='https://bit.ly/felonies-dataset'
fp

'https://bit.ly/felonies-dataset'

In [4]:
df=pd.read_csv(fp)
df

          Date of Arrest  Age Convicted
0    2014-07-16 14:59:18   77       Yes
1    2002-12-19 22:17:59   28       Yes
2    1994-06-28 09:31:40   21        No
3    1985-05-14 09:52:17   45       Yes
4    1985-05-25 14:06:28   39       Yes
..                   ...  ...       ...
995  1992-02-04 14:24:25   72       Yes
996  1996-04-29 18:03:23   68       Yes
997  1980-07-15 21:59:27   87       Yes
998  1999-07-05 17:16:12   27        No
999  1996-03-17 18:29:25   57       Yes

[1000 rows x 3 columns]

## A La Dure

In [5]:
df.rename(columns={"Date of Arrest":"DoA"},inplace=True)

In [6]:
df.head()

                   DoA  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

### What do we need to creat is a catogire for Year , Mois , day and Hour

In [7]:
df['DoA']=pd.to_datetime(df['DoA'])

In [8]:
df.dtypes

DoA          datetime64[ns]
Age                   int64
Convicted            object
dtype: object

In [9]:
df['DoA'].dt.year

0      2014
1      2002
2      1994
3      1985
4      1985
       ...
995    1992
996    1996
997    1980
998    1999
999    1996
Name: DoA, Length: 1000, dtype: int64

In [10]:
df['DoA'].dt.day

0      16
1      19
2      28
3      14
4      25
       ..
995     4
996    29
997    15
998     5
999    17
Name: DoA, Length: 1000, dtype: int64

In [11]:
df['DoA'].dt.dayofweek

0      2
1      3
2      1
3      1
4      5
      ..
995    1
996    0
997    1
998    0
999    6
Name: DoA, Length: 1000, dtype: int64

In [12]:
df['DoA'].dt.hour

0      14
1      22
2       9
3       9
4      14
       ..
995    14
996    18
997    21
998    17
999    18
Name: DoA, Length: 1000, dtype: int64

In [13]:
df['DoA'].dt.minute

0      59
1      17
2      31
3      52
4       6
       ..
995    24
996     3
997    59
998    16
999    29
Name: DoA, Length: 1000, dtype: int64

In [14]:
labels= ['six','seven','eight','nine','zero','ten','twen']

labels = [l+'ties' for l in labels]

labels

['sixties',
 'seventies',
 'eightties',
 'nineties',
 'zeroties',
 'tenties',
 'twenties']

In [15]:
from datetime import datetime

obj_dt = datetime(year=1,month=1,day=1)

obj_dt.weekday()

0

In [16]:
from datetime import datetime

year = lambda y: datetime(year=y,month=1,day=1) # dÃ©but de l'anneÃ© 
# what is Lambda
# def year(y):
#    return datetime(year=y,month=1,day=1)
#
bins =list(range(1959,2030,10))
bins = [year(b) for b in bins]

In [17]:
pd.cut(df['DoA'],bins=bins,labels=labels)

0        tenties
1       zeroties
2       nineties
3      eightties
4      eightties
         ...
995     nineties
996     nineties
997    eightties
998     zeroties
999     nineties
Name: DoA, Length: 1000, dtype: category
Categories (7, object): ['sixties' < 'seventies' < 'eightties' < 'nineties' < 'zeroties' < 'tenties' < 'twenties']

Exercice : 

Doa -> Season
21 dec -> 21 Mars

### La mÃ©thode map de Pandas

In [19]:
import pandas as pd
fp='https://bit.ly/felonies-dataset'
fp
df=pd.read_csv(fp)
df

          Date of Arrest  Age Convicted
0    2014-07-16 14:59:18   77       Yes
1    2002-12-19 22:17:59   28       Yes
2    1994-06-28 09:31:40   21        No
3    1985-05-14 09:52:17   45       Yes
4    1985-05-25 14:06:28   39       Yes
..                   ...  ...       ...
995  1992-02-04 14:24:25   72       Yes
996  1996-04-29 18:03:23   68       Yes
997  1980-07-15 21:59:27   87       Yes
998  1999-07-05 17:16:12   27        No
999  1996-03-17 18:29:25   57       Yes

[1000 rows x 3 columns]

In [20]:
df['DoA']=pd.to_datetime(df['Date of Arrest'])

In [21]:
df

          Date of Arrest  Age Convicted                 DoA
0    2014-07-16 14:59:18   77       Yes 2014-07-16 14:59:18
1    2002-12-19 22:17:59   28       Yes 2002-12-19 22:17:59
2    1994-06-28 09:31:40   21        No 1994-06-28 09:31:40
3    1985-05-14 09:52:17   45       Yes 1985-05-14 09:52:17
4    1985-05-25 14:06:28   39       Yes 1985-05-25 14:06:28
..                   ...  ...       ...                 ...
995  1992-02-04 14:24:25   72       Yes 1992-02-04 14:24:25
996  1996-04-29 18:03:23   68       Yes 1996-04-29 18:03:23
997  1980-07-15 21:59:27   87       Yes 1980-07-15 21:59:27
998  1999-07-05 17:16:12   27        No 1999-07-05 17:16:12
999  1996-03-17 18:29:25   57       Yes 1996-03-17 18:29:25

[1000 rows x 4 columns]

In [22]:
df.dtypes

Date of Arrest            object
Age                        int64
Convicted                 object
DoA               datetime64[ns]
dtype: object

In [23]:
df.drop(['Date of Arrest'],axis='columns',inplace=True)

In [24]:
df

     Age Convicted                 DoA
0     77       Yes 2014-07-16 14:59:18
1     28       Yes 2002-12-19 22:17:59
2     21        No 1994-06-28 09:31:40
3     45       Yes 1985-05-14 09:52:17
4     39       Yes 1985-05-25 14:06:28
..   ...       ...                 ...
995   72       Yes 1992-02-04 14:24:25
996   68       Yes 1996-04-29 18:03:23
997   87       Yes 1980-07-15 21:59:27
998   27        No 1999-07-05 17:16:12
999   57       Yes 1996-03-17 18:29:25

[1000 rows x 3 columns]

In [25]:
df.DoA.dt.dayofweek

0      2
1      3
2      1
3      1
4      5
      ..
995    1
996    0
997    1
998    0
999    6
Name: DoA, Length: 1000, dtype: int64

In [26]:
dayofweek2weektime = {0:'DEBUT',1:'DEBUT',2:'MILIEU',3:'MILIEU',4:'MILIEU',5:'WEEKEND',6:'WEEKEND'}

In [29]:
df.DoA.dt.dayofweek.map(dayofweek2weektime)
#de 'df' Ã  'dayofweek' = sÃ©ries , et rÃ©sultat colonne donnÃ©es

0       MILIEU
1       MILIEU
2        DEBUT
3        DEBUT
4      WEEKEND
        ...
995      DEBUT
996      DEBUT
997      DEBUT
998      DEBUT
999    WEEKEND
Name: DoA, Length: 1000, dtype: object

Une Liste un dictionnaire

In [59]:
id2str=['MONDAY','TUESDAY','WEDNESDAY','THURSDAY','FRIDAY','SATURDAY','SUNDAY']

In [60]:
id2str.index('MONDAY') # recherche d'index prends de temps alors on va utiliser un dictionnaire id2str.index()

0

In [61]:
str2id = {value:idx for idx , value in enumerate(id2str)}
id2str = {idx:value  for idx , value in enumerate(id2str)}

In [62]:
str2id[id2str[0]]

0

In [63]:
str2id

{'MONDAY': 0,
 'TUESDAY': 1,
 'WEDNESDAY': 2,
 'THURSDAY': 3,
 'FRIDAY': 4,
 'SATURDAY': 5,
 'SUNDAY': 6}

0       MILIEU
1       MILIEU
2        DEBUT
3        DEBUT
4      WEEKEND
        ...
995      DEBUT
996      DEBUT
997      DEBUT
998      DEBUT
999    WEEKEND
Name: DoA, Length: 1000, dtype: object

In [57]:
pÃ©riode_Semaine = {'MONDAY':'DEBUT','TUESDAY':'DEBUT','WEDNESDAY':'MILIEU','THURSDAY':'MILIEU','FRIDAY':'MILIEU','SATURDAY':'WEEKEND','SUNDAY':'WEEKEND'}

In [66]:
df['DoA'].dt.dayofweek.map(id2str).map(pÃ©riode_Semaine)

0       MILIEU
1       MILIEU
2        DEBUT
3        DEBUT
4      WEEKEND
        ...
995      DEBUT
996      DEBUT
997      DEBUT
998      DEBUT
999    WEEKEND
Name: DoA, Length: 1000, dtype: object

In [89]:
df['PÃ©riode Semaine']=df['DoA'].dt.dayofweek.map(id2str).map(pÃ©riode_Semaine)

In [90]:
df

     Age Convicted                 DoA PÃ©riode Semaine
0     77       Yes 2014-07-16 14:59:18          MILIEU
1     28       Yes 2002-12-19 22:17:59          MILIEU
2     21        No 1994-06-28 09:31:40           DEBUT
3     45       Yes 1985-05-14 09:52:17           DEBUT
4     39       Yes 1985-05-25 14:06:28         WEEKEND
..   ...       ...                 ...             ...
995   72       Yes 1992-02-04 14:24:25           DEBUT
996   68       Yes 1996-04-29 18:03:23           DEBUT
997   87       Yes 1980-07-15 21:59:27           DEBUT
998   27        No 1999-07-05 17:16:12           DEBUT
999   57       Yes 1996-03-17 18:29:25         WEEKEND

[1000 rows x 4 columns]

In [47]:
str2id['MONDAY']

0

In [36]:
jour=str2id

In [37]:
jour['MONDAY']

0

In [43]:
import pickle

chemin = 'objet.pkl'

# en Ã©criture
with open(chemin,'wb') as f:
    pickle.dump(id2str,f)
    
    # jeter= dump , id2str = cornichons/objets , f = local/fichier
    
# en lecture
with open(chemin,'rb') as f:
    objet = pickle.load(f)

In [44]:
objet

['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
995    NaN
996    NaN
997    NaN
998    NaN
999    NaN
Name: DoA, Length: 1000, dtype: object

In [64]:
df.dtypes

Age                   int64
Convicted            object
DoA          datetime64[ns]
dtype: object

In [ ]:
df['DoA']=pd.to_datetime(df['Date of Arrest'])

### Les colonnes de catÃ©gories

In [91]:
ordre=['DEBUT','MILIEU','WEEKEND']

In [92]:
df['PÃ©riode Semaine'].astype('category').cat.reorder_categories(ordre).cat.as_ordered()

0       MILIEU
1       MILIEU
2        DEBUT
3        DEBUT
4      WEEKEND
        ...
995      DEBUT
996      DEBUT
997      DEBUT
998      DEBUT
999    WEEKEND
Name: PÃ©riode Semaine, Length: 1000, dtype: category
Categories (3, object): ['DEBUT' < 'MILIEU' < 'WEEKEND']

In [93]:
df['PÃ©riode Semaine']=df['PÃ©riode Semaine'].astype('category').cat.reorder_categories(ordre).cat.as_ordered()

 ### Convertir colonne "category" en "int" [ORDINAL]

In [94]:
df.dtypes

Age                         int64
Convicted                  object
DoA                datetime64[ns]
PÃ©riode Semaine          category
dtype: object

In [95]:
df['PÃ©riode Semaine'].cat.codes

0      1
1      1
2      0
3      0
4      2
      ..
995    0
996    0
997    0
998    0
999    2
Length: 1000, dtype: int8

In [96]:
df['PÃ©riode Semaine']=df['PÃ©riode Semaine'].cat.codes

In [97]:
df.dtypes

Age                         int64
Convicted                  object
DoA                datetime64[ns]
PÃ©riode Semaine              int8
dtype: object