In [30]:
import pandas as pd

In [31]:
fp='https://bit.ly/missing-values'
fp

'https://bit.ly/missing-values'

In [32]:
df=pd.read_csv(fp)

In [33]:
df

      color  rating
0       NaN    1.16
1       Red     NaN
2      Blue    2.54
3       Red    1.51
4       Red     NaN
..      ...     ...
912    Blue    3.40
913     Red     NaN
914     NaN    1.24
915  Yellow    2.64
916    Blue     NaN

[917 rows x 2 columns]

In [ ]:
# we can use dropna ( code : df.dropna(how="",subset=['','']) )
# dropna is used to delete lines , so mode any(au moins une valeur nulle) for how , and for subset any is used too
# ça va supprimer tous les lignes avec 'NAN' quand on utilise method any on how et choisi aussi any for subset pour les noms de colonnes

In [34]:
df.isna().sum()

color     129
rating    256
dtype: int64

In [35]:
df.isna().mean() #pourcentage des valeurs nulle de isna de df

color     0.140676
rating    0.279171
dtype: float64

In [36]:
df.isna().head()

   color  rating
0   True   False
1  False    True
2  False   False
3  False   False
4  False    True

In [37]:
df['color'].isna().astype('int8')

0      1
1      0
2      0
3      0
4      0
      ..
912    0
913    0
914    1
915    0
916    0
Name: color, Length: 917, dtype: int8

1- créer la colonne qui renseigne l'absence de valeur
2- déplacer la colonne par plus de proximité

In [38]:
df['colo_missing']=df['color'].isna()

In [39]:
df.head()

  color  rating  colo_missing
0   NaN    1.16          True
1   Red     NaN         False
2  Blue    2.54         False
3   Red    1.51         False
4   Red     NaN         False

#### how to put a colonne just beside the other with insert function in pandas

In [40]:
df.insert(1,"color_missing2",df['color'].isna())

In [41]:
df.head()

  color  color_missing2  rating  colo_missing
0   NaN            True    1.16          True
1   Red           False     NaN         False
2  Blue           False    2.54         False
3   Red           False    1.51         False
4   Red           False     NaN         False

Inserer une colonne pour renseigner la presence de valeur manquante [ Numerique / Ordinal ]

In [43]:
#def missing_values(df):
#   df.insert(,,)

# ici, n'incluer que le nom des colonnes NUMERiQUES/ORDINAL
for nom_colonne in ['color','rating']:
    index_colonne = df.columns.get_loc(nom_colonne)
    df.insert(index_colonne+1,nom_colonne+'_nan',df[nom_colonne].isna().astype('int8'))

In [44]:
df

      color  color_nan  color_missing2  rating  rating_nan  colo_missing
0       NaN          1            True    1.16           0          True
1       Red          0           False     NaN           1         False
2      Blue          0           False    2.54           0         False
3       Red          0           False    1.51           0         False
4       Red          0           False     NaN           1         False
..      ...        ...             ...     ...         ...           ...
912    Blue          0           False    3.40           0         False
913     Red          0           False     NaN           1         False
914     NaN          1            True    1.24           0          True
915  Yellow          0           False    2.64           0         False
916    Blue          0           False     NaN           1         False

[917 rows x 6 columns]

In [ ]:
#df.insert(0+1,'color_nan',df["color"].isna().astype('int8'))    same way as boucle beforeeeeee but longer
#df.insert(1+1,'rating_nan',df["rating"].isna().astype('int8'))

la Touche finale pour les colonnes ordinal, finaliser le nettoyage en remplaçant la colonne originale , colonne.cat.codes

la Touche finale pour les colonnes numériques, finaliser le nettoyage en remplaçant la colonne originale avec colonne.as_types("int") ou colonne.as_type("float")

import numpy as np

np.nan-2

#### Exemple de dropna

df.dropna() - Paramètres :

how : str
- "any" - Supprime les lignes ayant au moins une des colonnes du subset avec une valeur NaN
- "all" - Supprime les lignes ayant toutes les colonnes du subset avec une valeur NaN

subset : list
- Liste des noms de colonnes à analyser

In [46]:
fp2='https://bit.ly/missing-values-toy'
fp2

'https://bit.ly/missing-values-toy'

In [55]:
df2=pd.read_csv(fp2)
df2

  Colonne Importante  Colonne Inutile  Colonne Peu Utile
0                Oui              NaN                2.0
1                Non              1.0                NaN
2         Légerement              NaN                3.0
3                NaN              1.0                NaN
4                Oui              1.0                4.0
5                NaN              NaN                3.0
6                NaN              2.0                NaN

In [56]:
df2.dropna(how="all",subset=['Colonne Importante','Colonne Peu Utile']) # si je vois la résultat alors l'inplace est False
# si je le vois alors l'inplace est True

  Colonne Importante  Colonne Inutile  Colonne Peu Utile
0                Oui              NaN                2.0
1                Non              1.0                NaN
2         Légerement              NaN                3.0
4                Oui              1.0                4.0
5                NaN              NaN                3.0

In [57]:
df2.dropna(how="any",subset=['Colonne Importante','Colonne Peu Utile'])

  Colonne Importante  Colonne Inutile  Colonne Peu Utile
0                Oui              NaN                2.0
2         Légerement              NaN                3.0
4                Oui              1.0                4.0

In [49]:
df2

  Colonne Importante  Colonne Inutile  Colonne Peu Utile
0                Oui              NaN                2.0
1                Non              1.0                NaN
2         Légerement              NaN                3.0
3                NaN              1.0                NaN
4                Oui              1.0                4.0
5                NaN              NaN                3.0
6                NaN              2.0                NaN