In [5]:
import pandas as pd
fp='https://bit.ly/felonies-dataset'
fp
df=pd.read_csv(fp)
df
df.rename(columns = {'Date of Arrest': 'DoH'}, inplace = True)

In [6]:
df.dtypes

DoH          object
Age           int64
Convicted    object
dtype: object

In [8]:
df

                     DoH  Age Convicted
0    2014-07-16 14:59:18   77       Yes
1    2002-12-19 22:17:59   28       Yes
2    1994-06-28 09:31:40   21        No
3    1985-05-14 09:52:17   45       Yes
4    1985-05-25 14:06:28   39       Yes
..                   ...  ...       ...
995  1992-02-04 14:24:25   72       Yes
996  1996-04-29 18:03:23   68       Yes
997  1980-07-15 21:59:27   87       Yes
998  1999-07-05 17:16:12   27        No
999  1996-03-17 18:29:25   57       Yes

[1000 rows x 3 columns]

In [9]:
df['DoH']= pd.to_datetime(df['DoH'])

In [10]:
df

                    DoH  Age Convicted
0   2014-07-16 14:59:18   77       Yes
1   2002-12-19 22:17:59   28       Yes
2   1994-06-28 09:31:40   21        No
3   1985-05-14 09:52:17   45       Yes
4   1985-05-25 14:06:28   39       Yes
..                  ...  ...       ...
995 1992-02-04 14:24:25   72       Yes
996 1996-04-29 18:03:23   68       Yes
997 1980-07-15 21:59:27   87       Yes
998 1999-07-05 17:16:12   27        No
999 1996-03-17 18:29:25   57       Yes

[1000 rows x 3 columns]

In [20]:
minute_colonne=df['DoH'].dt.hour*60+df['DoH'].dt.minute
minute_colonne
#timeofhour= [205,972,1331,204]
#labels=['MATIN','A.M.','NUIT']

0       899
1      1337
2       571
3       592
4       846
       ...
995     864
996    1083
997    1319
998    1036
999    1109
Name: DoH, Length: 1000, dtype: int64

In [25]:
timeofhour= [0,205,972,1331]
labels=['NUIT','MATIN','A.M.']

In [26]:
hour=pd.cut(minute_colonne,bins=timeofhour,labels=labels)

In [28]:
hour

0      A.M.
1       NaN
2      A.M.
3      A.M.
4      A.M.
       ...
995    A.M.
996    NUIT
997    NUIT
998    NUIT
999    NUIT
Name: DoH, Length: 1000, dtype: category
Categories (3, object): ['MATIN' < 'A.M.' < 'NUIT']