In [1]:
import pandas as pd

In [2]:
url='https://bit.ly/missing-values'
df=pd.read_csv(url)
df

      color  rating
0       NaN    1.16
1       Red     NaN
2      Blue    2.54
3       Red    1.51
4       Red     NaN
..      ...     ...
912    Blue    3.40
913     Red     NaN
914     NaN    1.24
915  Yellow    2.64
916    Blue     NaN

[917 rows x 2 columns]

In [3]:
for nom_col in ['color','rating']:
    idx=df.columns.get_loc(nom_col)
    df.insert(idx+1,nom_col+'_nan',df[nom_col].isna().astype('int'))

In [4]:
df.head()

  color  color_nan  rating  rating_nan
0   NaN          1    1.16           0
1   Red          0     NaN           1
2  Blue          0    2.54           0
3   Red          0    1.51           0
4   Red          0     NaN           1

In [7]:
df['color'].isna().sum()

129

In [ ]:
# df['color'].fillna()
#Needed shit to put the valeur manquante Values to put
# 1- fréquente
# 2- moyenne / mediane
# 3- hors limite

In [15]:
# df['color'].mean() , mean dont work on strings
df['rating'].fillna(df['rating'].mean())

0      1.160000
1      3.066672
2      2.540000
3      1.510000
4      3.066672
         ...
912    3.400000
913    3.066672
914    1.240000
915    2.640000
916    3.066672
Name: rating, Length: 917, dtype: float64

In [10]:
df['color'].value_counts()

Blue      323
Red       234
Orange    154
Yellow     77
Name: color, dtype: int64

In [12]:
df['color'].mode() # most frequent = mode

0    Blue
dtype: object

In [13]:
df['color'].fillna('Manquant')

0      Manquant
1           Red
2          Blue
3           Red
4           Red
         ...
912        Blue
913         Red
914    Manquant
915      Yellow
916        Blue
Name: color, Length: 917, dtype: object

In [16]:
df['rating'].max()

5.0

In [17]:
df['rating'].fillna(0) # fill'na' with 0

0      1.16
1      0.00
2      2.54
3      1.51
4      0.00
       ...
912    3.40
913    0.00
914    1.24
915    2.64
916    0.00
Name: rating, Length: 917, dtype: float64

In [18]:
df['color'].mode().item()

'Blue'

In [21]:
df['color'].fillna(df['color'].mode())

0        Blue
1         Red
2        Blue
3         Red
4         Red
        ...
912      Blue
913       Red
914       NaN
915    Yellow
916      Blue
Name: color, Length: 917, dtype: object

In [22]:
df['color'].fillna(df['color'].mode().item()) # we filled Na with Bleu

0        Blue
1         Red
2        Blue
3         Red
4         Red
        ...
912      Blue
913       Red
914      Blue
915    Yellow
916      Blue
Name: color, Length: 917, dtype: object

# remplir les Valeurs manquantes
df[colonne_ou_il_manque].fillna(valeur_manquante,inpalce=False)