In [3]:
import pandas as pd

In [4]:
fp='https://bit.ly/felonies-dataset'
fp

'https://bit.ly/felonies-dataset'

In [8]:
df=pd.read_csv(fp)
df

          Date of Arrest  Age Convicted
0    2014-07-16 14:59:18   77       Yes
1    2002-12-19 22:17:59   28       Yes
2    1994-06-28 09:31:40   21        No
3    1985-05-14 09:52:17   45       Yes
4    1985-05-25 14:06:28   39       Yes
..                   ...  ...       ...
995  1992-02-04 14:24:25   72       Yes
996  1996-04-29 18:03:23   68       Yes
997  1980-07-15 21:59:27   87       Yes
998  1999-07-05 17:16:12   27        No
999  1996-03-17 18:29:25   57       Yes

[1000 rows x 3 columns]

## A La Dure

In [13]:
df.rename(columns={"Date of Arrest":"DoA"},inplace=True)

In [14]:
df.head()

                   DoA  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

### What do we need to creat is a catogire for Year , Mois , day and Hour

In [15]:
df['DoA']=pd.to_datetime(df['DoA'])

In [9]:
df.dtypes

Date of Arrest    object
Age                int64
Convicted         object
dtype: object

In [16]:
df['DoA'].dt.year

0      2014
1      2002
2      1994
3      1985
4      1985
       ...
995    1992
996    1996
997    1980
998    1999
999    1996
Name: DoA, Length: 1000, dtype: int64

In [17]:
df['DoA'].dt.day

0      16
1      19
2      28
3      14
4      25
       ..
995     4
996    29
997    15
998     5
999    17
Name: DoA, Length: 1000, dtype: int64

In [18]:
df['DoA'].dt.dayofweek

0      2
1      3
2      1
3      1
4      5
      ..
995    1
996    0
997    1
998    0
999    6
Name: DoA, Length: 1000, dtype: int64

In [19]:
df['DoA'].dt.hour

0      14
1      22
2       9
3       9
4      14
       ..
995    14
996    18
997    21
998    17
999    18
Name: DoA, Length: 1000, dtype: int64

In [20]:
df['DoA'].dt.minute

0      59
1      17
2      31
3      52
4       6
       ..
995    24
996     3
997    59
998    16
999    29
Name: DoA, Length: 1000, dtype: int64

In [23]:
labels= ['six','seven','eight','nine','zero','ten','twen']

labels = [l+'ties' for l in labels]

labels

['sixties',
 'seventies',
 'eightties',
 'nineties',
 'zeroties',
 'tenties',
 'twenties']

In [21]:
from datetime import datetime

obj_dt = datetime(year=1,month=1,day=1)

obj_dt.weekday()

0

In [24]:
from datetime import datetime

year = lambda y: datetime(year=y,month=1,day=1) # début de l'anneé 
# what is Lambda
# def year(y):
#    return datetime(year=y,month=1,day=1)
#
bins =list(range(1959,2030,10))
bins = [year(b) for b in bins]

In [25]:
pd.cut(df['DoA'],bins=bins,labels=labels)

0        tenties
1       zeroties
2       nineties
3      eightties
4      eightties
         ...
995     nineties
996     nineties
997    eightties
998     zeroties
999     nineties
Name: DoA, Length: 1000, dtype: category
Categories (7, object): ['sixties' < 'seventies' < 'eightties' < 'nineties' < 'zeroties' < 'tenties' < 'twenties']

Exercice : 

Doa -> Season
21 dec -> 21 Mars