In [2]:
import pandas as pd

In [3]:
fp='https://bit.ly/felonies-dataset'
fp
df=pd.read_csv(fp)

In [4]:
df

          Date of Arrest  Age Convicted
0    2014-07-16 14:59:18   77       Yes
1    2002-12-19 22:17:59   28       Yes
2    1994-06-28 09:31:40   21        No
3    1985-05-14 09:52:17   45       Yes
4    1985-05-25 14:06:28   39       Yes
..                   ...  ...       ...
995  1992-02-04 14:24:25   72       Yes
996  1996-04-29 18:03:23   68       Yes
997  1980-07-15 21:59:27   87       Yes
998  1999-07-05 17:16:12   27        No
999  1996-03-17 18:29:25   57       Yes

[1000 rows x 3 columns]

In [6]:
df.rename(columns = {'Date of Arrest': 'DoA'}, inplace = True)

df.dtypes

DoA          object
Age           int64
Convicted    object
dtype: object

In [7]:
df

                     DoA  Age Convicted
0    2014-07-16 14:59:18   77       Yes
1    2002-12-19 22:17:59   28       Yes
2    1994-06-28 09:31:40   21        No
3    1985-05-14 09:52:17   45       Yes
4    1985-05-25 14:06:28   39       Yes
..                   ...  ...       ...
995  1992-02-04 14:24:25   72       Yes
996  1996-04-29 18:03:23   68       Yes
997  1980-07-15 21:59:27   87       Yes
998  1999-07-05 17:16:12   27        No
999  1996-03-17 18:29:25   57       Yes

[1000 rows x 3 columns]

In [8]:
df['DoA']= pd.to_datetime(df['DoA'])

In [9]:
df['DoA'].dt.day

0      16
1      19
2      28
3      14
4      25
       ..
995     4
996    29
997    15
998     5
999    17
Name: DoA, Length: 1000, dtype: int64

In [10]:
df['DoA'].dt.month # .min() .max() are used for day and month

0       7
1      12
2       6
3       5
4       5
       ..
995     2
996     4
997     7
998     7
999     3
Name: DoA, Length: 1000, dtype: int64

In [11]:
colonne_temporaire = df['DoA'].dt.month * 100 + df['DoA'].dt.day # si le jour est fait avant le mois le cut va pas marcher , l'ordre est nécessaire pour le cut 

colonne_temporaire

0       716
1      1219
2       628
3       514
4       525
       ...
995     204
996     429
997     715
998     705
999     317
Name: DoA, Length: 1000, dtype: int64

In [16]:
df['DoA'].dt.month.max()

12

In [17]:
AVANT_JANVIER=0
AVANT_PRINTEMPS=320
AVANT_ETE=620
AVANT_AUTOMNE=920
AVANT_HIVER=1220
FIN_ANNEE=1232
bins=[AVANT_JANVIER,AVANT_PRINTEMPS,AVANT_ETE,AVANT_AUTOMNE,AVANT_HIVER,FIN_ANNEE]

In [21]:
saisons=pd.cut(colonne_temporaire,bins,labels=['HIVER','PRINTEMPS','ETE','AUTOMNE','HIVER2'])

In [24]:
saisons.str.replace('2','')
saisons.unique()

['ETE', 'AUTOMNE', 'PRINTEMPS', 'HIVER']
Categories (4, object): ['HIVER' < 'PRINTEMPS' < 'ETE' < 'AUTOMNE']

In [25]:
saisons.head()

0          ETE
1      AUTOMNE
2          ETE
3    PRINTEMPS
4    PRINTEMPS
Name: DoA, dtype: category
Categories (5, object): ['HIVER' < 'PRINTEMPS' < 'ETE' < 'AUTOMNE' < 'HIVER2']

In [26]:
saisons=saisons.str.replace('2','') # transofrm into objects
saisons.unique()

array(['ETE', 'AUTOMNE', 'PRINTEMPS', 'HIVER'], dtype=object)

In [27]:
saisons.head()

0          ETE
1      AUTOMNE
2          ETE
3    PRINTEMPS
4    PRINTEMPS
Name: DoA, dtype: object

In [29]:
saison=(saisons.astype('category').cat.as_ordered().cat.reorder_categories(['AUTOMNE','HIVER','PRINTEMPS','ETE'])) 
# recate into category again

In [30]:
saison

0            ETE
1        AUTOMNE
2            ETE
3      PRINTEMPS
4      PRINTEMPS
         ...
995        HIVER
996    PRINTEMPS
997          ETE
998          ETE
999        HIVER
Name: DoA, Length: 1000, dtype: category
Categories (4, object): ['AUTOMNE' < 'HIVER' < 'PRINTEMPS' < 'ETE']

In [31]:
df['DoH']=pd.to_datetime(df['DoA'])

In [32]:
df

                    DoA  Age Convicted                 DoH
0   2014-07-16 14:59:18   77       Yes 2014-07-16 14:59:18
1   2002-12-19 22:17:59   28       Yes 2002-12-19 22:17:59
2   1994-06-28 09:31:40   21        No 1994-06-28 09:31:40
3   1985-05-14 09:52:17   45       Yes 1985-05-14 09:52:17
4   1985-05-25 14:06:28   39       Yes 1985-05-25 14:06:28
..                  ...  ...       ...                 ...
995 1992-02-04 14:24:25   72       Yes 1992-02-04 14:24:25
996 1996-04-29 18:03:23   68       Yes 1996-04-29 18:03:23
997 1980-07-15 21:59:27   87       Yes 1980-07-15 21:59:27
998 1999-07-05 17:16:12   27        No 1999-07-05 17:16:12
999 1996-03-17 18:29:25   57       Yes 1996-03-17 18:29:25

[1000 rows x 4 columns]

In [34]:
df.DoH.dt.hour

0      14
1      22
2       9
3       9
4      14
       ..
995    14
996    18
997    21
998    17
999    18
Name: DoH, Length: 1000, dtype: int64

In [35]:
df.DoH.dt.minute

0      59
1      17
2      31
3      52
4       6
       ..
995    24
996     3
997    59
998    16
999    29
Name: DoH, Length: 1000, dtype: int64