# Exercices

### 1) Expliquer ce qu'est un KPI?

Un KPI est une variable qu'une organization par exemple l'utilise pour évaluer la performance à partir d'une visiuelle graphique

### 2) Importer

In [1]:
import pandas as pd
import numpy as np

### 3) Importer le dataset

In [5]:
fp="eval_data.csv"
fp
df=pd.read_csv("eval_data.csv")
df

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...,...
4617,4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### 4)Afficher les 10 premiére ligne de dataset

In [6]:
df.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 5)afficher la dimmension du dataset?

In [7]:
df.shape

(4622, 6)

### 6) afficher , et décrire les colonnes de notre dataset?

In [53]:
df.columns # c'est la réponse aprés ça on fait describe
df.describe()

        Unnamed: 0     order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000  4522.000000
mean   2310.500000   927.254868     1.075725     7.576550
std    1334.400802   528.890796     0.410186     4.223898
min       0.000000     1.000000     1.000000     1.090000
25%    1155.250000   477.250000     1.000000     3.990000
50%    2310.500000   926.000000     1.000000     8.750000
75%    3465.750000  1393.000000     1.000000     9.390000
max    4621.000000  1834.000000    15.000000    44.250000

### 7)afficher les statistiques descriptives du dataset

In [20]:
description_column=df['choice_description']
description_column

0                                                     NaN
1                                            [Clementine]
2                                                 [Apple]
3                                                     NaN
4       [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
                              ...
4617    [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
4618    [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
4619    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
4620    [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
4621    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Name: choice_description, Length: 4622, dtype: object

### 8) quel est l'item le plus commandé?

In [29]:
df['item_name'].value_counts()

# Item le plus commandé c'est le chicken Bowl

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Carnitas Salad Bowl                        6
Veggie Salad                               6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Name: item_name, dtype: int64

### 9)Combiens d'items ont été commandés au total?

In [54]:
df['quantity'].sum()

4972

### 10)Combien de chiffre d'affaire à réalisé la société?

In [50]:
import pandas as pd
import numpy as np
fp="eval_data.csv"
fp
df=pd.read_csv("eval_data.csv")
df
#df['item_price'].isna().sum()
df['item_price']=df['item_price'].str.replace('$','').astype('float')
df['item_price'].sum()
print("la société a réalisé une valeur de :",df['item_price'].sum())

la société a réalisé une valeur de : 34261.16

### 11)Quel est le revenu moyen par commande?

In [ ]:
# pour une commande alors c'est toute les quantité commandé pour un item leur somme 
#aprés divisé par le somme de leur nombre de quantité commandés